<app-header></app-header>
<div class="container-xl">
    <div class="row">
      <div class="col-md-6">
        <div class="card-body" > 
            <h3 class="titulo" >Lista De Productos</h3> <br> 
            <button type="button" (click)="test()" class="btn btn-primary" *ngIf="create">Crear</button>  
       </div>
       <fieldset>
           
        <div class="col-md-10">
            <div style = "overflow:auto; ">
                <table class="table table-hover"  cellspacing="0" width="20" >
                    <thead class="table-active">
                    <tr class="tabla">
                        <th scope="col">#</th>
                        <th scope="col">nombre</th>
                        <th scope="col">valorUnitario</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let producto of Productos " (click)="editarProductos(producto.idProducto)">
                        <th scope="row">{{producto.idProducto}}</th> 
                        <td>{{producto.nombre}}</td> 
                        <td>{{producto.valorUnitario}}</td>      
                    </tr>    
                    </tbody>
                </table>

            </div>

        </div> 
       </fieldset>
      </div>
      <div class="col-md-6" >
        <div class="row">
            <div class="col-md-12" *ngIf="show">
                <div class="card-body text-danger">
                    <h3 class="titulo">Crear Producto</h3><br>
                </div>
                <form [formGroup]  = "nuevoForm" (ngSubmit)="PostFormCreate(nuevoForm.value)"  >
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <h4 class="Subtitulo"><label for="exampleFormContolInput1" autofocus >Nombre del Producto:</label></h4>
                                <input type="text" class="form-control" formControlName= "nombre" placeholder="Digite un dato" maxlength="50" minlength="2" ngModel  required>                        
                                <span class="text-dark"><small>Solo letras </small></span>
                                <div class="valid-feedback">
                                    ¡Se ve bien!
                                </div>        
                                <div class="invalid-feedback" >
                                    Por favor, Proporcione una dato válido.
                                </div> 
                                </div> 
                             
                            <div class="col-md-6">
                                <h4 class="Subtitulo"><label for="exampleFormContolInput1" autofocus >Valor Unitario:</label></h4>
                                <input type="number" class="form-control" formControlName= "valorUnitario" placeholder="Digite un dato" maxlength="50" minlength="2" ngModel  required>                        
                                <span class="text-dark"><small>Solo ingrese números</small></span>
                                <div class="valid-feedback">
                                    ¡Se ve bien!
                                </div>        
                                <div class="invalid-feedback" >
                                    Por favor, Proporcione una dato válido.
                                </div> 
                            </div>   
                        </div>            
                    </div>
                    <div class="btn-toolbar">
                        <button class="btn btn-success btn-sm " [disabled] = "nuevoForm.invalid" type="submit" style="margin-right:10px">Guardar</button>
                        <button type="button" (click)="Cancelar()" class="btn btn-danger btn-sm">Cancelar</button>
                    </div>
                  </form>  
            </div>
            <div class="col-md-12" *ngIf="cli">
                <div class="card-body text-danger">
                    <h3 class="titulo">Editar Prodcuto</h3><br>
                </div> 
                <form [formGroup]  = "Form" (ngSubmit)="PutFormEdit(Form.value)" class="was-validated">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <h4 class="Subtitulo"><label for="exampleFormContolInput1" autofocus >Nombre del Producto:</label></h4>
                                <input type="text" class="form-control" formControlName= "nombre" placeholder="Digite un dato" maxlength="50" minlength="2" ngModel  required>                        
                                <span class="text-dark"><small>Solo letras </small></span>
                                <div class="valid-feedback">
                                    ¡Se ve bien!
                                </div>        
                                <div class="invalid-feedback" >
                                    Por favor, Proporcione una dato válido.
                                </div> 
                                </div> 
                             
                            <div class="col-md-6">
                                <h4 class="Subtitulo"><label for="exampleFormContolInput1" autofocus >Valor Unitario:</label></h4>
                                <input type="number" class="form-control" formControlName= "valorUnitario" placeholder="Digite un dato" maxlength="50" minlength="2" ngModel  required>                        
                                <span class="text-dark"><small>Solo ingrese números</small></span>
                                <div class="valid-feedback">
                                    ¡Se ve bien!
                                </div>        
                                <div class="invalid-feedback" >
                                    Por favor, Proporcione una dato válido.
                                </div> 
                            </div>   
                        </div>            
                    </div>           
                    <div class="btn-toolbar">
                        <button class="btn btn-success btn-sm Guardar" type="submit" [disabled] = "Form.invalid">Guardar</button>
                        <button type="button" (click)="CancelarOut()" class="btn btn-danger btn-sm">Cancelar</button>
                        <button type="button" class="btn btn-dark btn-sm" (click)="eliminar()" [disabled] = "Form.invalid" style="margin-left:10px">Eliminar</button> 
                    </div>                   
                  </form>
            </div>
        </div>             
    </div>
  </div>
</div>
<app-footer></app-footer>